.editor {
    /* background-color: chartreuse;
    border: 1px solid black; */
    width: 100%;
}

.editor-menu {
    padding: 5px 0 5px 0;
}

.editor-text {
    width: 100%;
    min-height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #dee2e6;
    padding: 2px 5px;
    font-size: 0.8em;
}

span.wait {
    background-image: url("/img/file.gif");
    height: 50px;
    width: 50px;
}

.spinner-border {

}